
/*-------------------------------------------------------
10. Latest css 
---------------------------------------------------------*/

.latest-pill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav-pills  {
    .nav-link {
        padding: 2rem 4rem;
        line-height: 1;
        color: var(--clr-white);
        outline: none;
        font-weight: 600;
        -webkit-transition: .5s ease;
        transition: .5s ease;
        position: relative;
        z-index: 1;
        display: inline-block;
        overflow: hidden;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        background-color: var(--clr-def-2);
        &.active {
            background-color: var(--clr-def);
        }
    }
}
