/*-------------------------------------------------------
18. Left Over css 
---------------------------------------------------------*/

//comment-course-single
.single-commentor-user img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.course-author img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.user-profile-pic img {
    height: 170px;
    width: 170px;
    border-radius: 50%;	
}

//.seller page:
.seller-pic img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

//blog-single:

.single-commentor-user img {
    border-radius: 50%;
}
